venv_old/
.env
__pycache__/
*.pyc
.DS_Store
.idea/
*.log
*.sqlite3
staticfiles/
media/
db.sqlite3
*.egg-info/
coverage/
htmlcov/
*.cover
.tox/
pytest_cache/
.pytest_cache/
mypy_cache/
.pyre/
celerybeat-schedule
instance/
.webassets-cache
*.pot
*.mo
local_settings.py
*.env
*.bak
*.swp
*.swo
*.tmp
*.old
*.orig
*.rej
*.sublime-project
*.sublime-workspace
.vscode/
node_modules/  
dist/
build/
*.egg
*.log
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*
.envrc
.venv/
.coverage
.coverage.*
nosetests.xml
coverage.xml
