python-dotenv
fastapi
uvicorn[standard]
pandas
numpy
matplotlib
pymongo[srv]==3.12
scikit-learn
seaborn
beautifulsoup4
pyyaml
prefect
ipykernel
lightgbm
catboost
xgboost
# adaboost
dnspython
dill
joblib
mlflow
dagshub
python-multipart
certifi
jinja2
-e .